#project {
  @media screen and (max-width: 780px) {
    .app__social {
      display: none;
    }
    .app__navigation {
      display: none;
    }
  }
}
.feature-project {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    color: #edeae5;
  }
}
.feature-project-title-extra {
  color: #66fcf1;
  font-size: 3rem;
}

.feature-project-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-project_jouili {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  width: 800px;
  position: relative;
  // border: 1px solid red;
  height: fit-content;
  overflow: hidden;
  h1 {
    color: #e4e4e4;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: var(--font-family);
  }
}
.project_jouili {
  justify-content: flex-end;
}
.project_peaky {
  justify-content: flex-start;
}
.feature-project_jouili_text {
  background-color: rgba(28, 42, 59, 1);
  width: 500px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}
.feature-project_jouili_text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 188% */

  color: var(--color-text);
}

.tect {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  /* or 188% */
  color: var(--color-text);
  justify-content: flex-start;
  margin-top: 0.25rem;
  word-spacing: 0.75rem;
}

.feature-project_jouili_outertext {
  display: flex;
  flex-direction: column;
}
.jouili {
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
.feature-project_jouili_img {
  transition: 1s;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    transform: scale(1.1);
    transition: 1s;
    opacity: 1;
  }
}
.jouili_img {
  overflow: hidden;
  width: 400px;
  border: 1px solid white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  img {
    width: auto;
    height: 100%;
  }
}

.feature-project_jouili_img img {
  width: 100%;
  border-radius: 5px;
}

.feature-project_jouili_link {
  transition: 500ms;
}
.feature-project_jouili_link a {
  display: flex;
  cursor: pointer;
}
.feature-project_jouili_link:hover {
  transform: scale(1.1);
  transition: 500ms;
}
.feature-project_jouili_link img {
  width: 30px;
}
.feature-project_jouili_link p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-left: 0.5rem;

  /* identical to box height, or 188% */
}
.link_extra {
  padding: 0.25rem 1rem;
  /*border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #042c54, #176cc8) 1;
  border-top-left-radius: 50px;*/
  margin-left: 1rem;
  box-shadow: 5px 5px 5px;
  border: 2px #66fcf1 solid;
}
.feature-project_jouili_link_container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.helper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.peaky_img {
  width: 400px;
  position: absolute;
  right: 0;
  img {
    width: 100%;
  }
}

.peaky_outertext {
  align-items: flex-start;
  position: relative;
  z-index: 2;
  .helper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .feature-project_jouili_text {
    background-color: rgba(28, 42, 59, 1);
  }
}

@media screen and (max-width: 950px) {
  .feature-project_jouili_text {
    width: 400px;
  }
  .feature-project_jouili_text p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  .feature-project_jouili {
    width: 700px;
  }
}
@media screen and (max-width: 850px) {
  .feature-project_jouili {
    width: 650px;
  }
}
@media screen and (max-width: 780px) {
  .feature-project_jouili {
    width: auto;
    padding: 1rem;
  }
  .jouili_img {
    width: 100%;
  }
  .feature-project_jouili_img {
    img {
      opacity: 0.5;
    }
  }
  .jouili {
    transform: none;
    z-index: 2;
    align-items: flex-start;
  }
  .helper {
    align-items: flex-start;
  }
  .feature-project_jouili_outertext {
    background-color: rgba(0, 128, 0, 0.1);
  }
}
@media screen and (max-width: 600px) {
  .feature-project_jouili_outertext {
    transform: translate(0, 0);
    align-items: center;
  }
  .feature-project_jouili {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feature-project_jouili_text {
    width: 250px;
    padding: 1rem;
    background-color: rgba(28, 42, 59, 0.5);
  }
  .feature-project_jouili_text p {
    font-size: 10px;
  }

  .tect {
    word-spacing: 0.4rem;
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  .feature-project_jouili {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .feature-project h1 {
    font-size: 24px;
  }

  .feature-project_jouili_link_container p {
    font-size: 14px;
  }
}
